<!DOCTYPE html>
<html>
   <head>
      <title>Hello World! I am {{name}}!</title>
   </head>

   <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
   
   Hello World! I am {{name}}!
   
   <script>
      var socket = io('/login');
      var user = '{{name}}';

      function sendMessage() {
         var msg = document.getElementById('message').value;
         console.log(document.getElementById('message').value)
         if(msg) {
            socket.emit('messageFromUser', {message: msg, user: user});
            console.log("finished emit inside sendMessage")
         }
      }

      socket.on('messageFromServer', function(data) {
         console.log("received a message from server");
         if(user) {
            document.getElementById('message-container').innerHTML += '<div><b>' +
               data.user + '</b>: ' + data.message + '</div>'
         }
      })
   </script>

   <body>
   <input type = "text" id = "message">
   <button type = "button" name = "button" onclick = "sendMessage()">Send</button>
   <div id = "message-container"></div>
   </body>
</html>
